{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "babel", "react"],
  "extends": ["plugin:prettier/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",    
    "no-console": "off"
  }
}